@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --bg-color: #310303;
    --gradient-60-color: #720000;
    --gradient-100-color: #990e0e;
    --text-color: #020203;
    --black-transparent: rgba(0, 0, 0, 0.8);
    --black-transparent-2: rgba(0, 0, 0, 0.2);
}

body {
    background: var(--bg-color);
    background: linear-gradient(0deg, var(--bg-color) 0%, var(--gradient-60-color) 60%, var(--gradient-100-color) 100%);
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: var(--text-color);
    font-family: "Poppins", "sans-serif";
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}

.container {
     height: 100dvh;
     display: grid;
     grid-template-columns: 0.5fr 1fr;
}

.card {
    margin: auto;
}